.centeredBlock{
    display: flex;
    margin: 0 auto;
    width: 1280px;
}

.welcomePart{
    background: #eee;
}

.welcomePartDescription{
    display: flex;
    justify-content: space-between;
}

.welcomePartDescriptionText h2{
    font-family: "Roboto", sans-serif;
    font-size: 55px;
    line-height: 1;
    color: #000;
    font-weight: 500;
    margin-top: 48px;
}

.welcomePartDescriptionText p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: 400;
    margin-top: 55px;
}

.welcomePartDescriptionText button{
    margin-top: 38px;
    background: #FB565A;
    border: 0px;
    width: 240px;
    height: 50px;
    border-radius: 3px;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.worksWrapper{
    justify-content: space-between;
}

.work{
    margin-top: 80px;
    margin-bottom: 80px;
}

.workHeader{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 25px;
}

.workText{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: 400;
    margin-top: 16px;
}

.workBtn{
    margin-top: 32px;
    border: 0px;
    padding: 15px 40px;
    border-radius: 3px;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.workBtnRed{
    background: #FB565A;
}

.workBtnGreen{
    background: #00CA74;
}

.WorkBtnYellow{
    background: #EFC849;
}

hr{
    height: 2px;
    background: #eee;
    border: 0px;
    margin: 0 auto;
    width: 1280px;
}

.verticalLine{
    background: #eee;
    height: 52px;
    margin-top: 64px;
    margin-bottom: 64px;
    width: 2px;
}

.mapAddress{
    background: white;
    margin-top: 54px;
    padding: 50px;
    position: absolute;
    z-index: 2;
}

.mapAddress h2{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

.mapAddress p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #666;
    font-weight: 400;
    margin-top: 22px;
}

.mapAddress button{
    background: #FB565A;
    margin-top: 37px;
    border: 0px;
    padding: 15px 40px;
    border-radius: 3px;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.partnerWrapper{
    align-items: center;
    justify-content: space-between;
}

footer{
    display: flex;
}

.footerLinks{
    display: flex;
    margin-top: 68px;
    margin-bottom: 68px;
    margin-right: 130px;
}

.footerLinks a{
    margin-right: 10px;
}

.linkWrapper{
    background: #e1e1e1;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vkWrapper:hover{
    background: rgb(0, 195, 255);
}

.fbWrapper:hover{
    background: blue;
}

.instaWrapper:hover{
    background: pink;
}

.footerText{
    margin-top: 75px;
    margin-bottom: 75px;
}

.footerText h2{
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #000;
    font-weight: 700;
}

.footerText p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #444;
    font-weight: 400;
    margin-top: 10px;
}